# Gradle
.gradle/
build/

# Local configuration file (SDK path, keystores, etc.)
local.properties

# Android Studio specific files
.idea/
*.iml

# macOS specific
.DS_Store

# Captures (screenshots, tests, etc.)
captures/

# External native build
.externalNativeBuild/
.cxx/

# Other
*.log
